<?xml version="1.0"?>

<!-- No cstrings or appSettings in here, we'll use Azure's cpanel so credentials aren't exposed on github -->

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
